<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="style.css">-->
  <script src="https://fb.me/react-0.13.3.js"></script>
  <script src="https://fb.me/react-0.13.3.min.js"></script>
</head>
<body>
<!--<div class="container">-->
<!--</div>-->
</body>

<script type="text/jsx">

  var Badge = React.createClass({
   render: function() {
    return <button className="btn btn-primary" type="button">
     {this.props.title} <span className="badge">{this.props.number}</span>
    </button>
   }
  });

  var options = {
   title: 'Sent',
   number: 12
  };

  var element = React.createElement(Badge,options);
  React.render(element, document.body);

</script>
<!--<script src="main.js"></script>-->